body {
    
}
#p4  { 
    background-color: FBF5EF ;
}
body {
    background-image: url('./img/tecidos-cotton-tecido-cotton-mescla-ligth-bege-claro-liso--p-1605970101119.png');
    background-repeat:no-repeat;
    background-size: 100% 130%;    
}
h1 {
    font-size: 50px;
}
p{
    font-size: 30px;








    color: gray;

}

 #img1{
     margin-left: 40%;

 }
 #pocoyo {  
 margin-left: 38%;

 }
